.cart__content{
    width: 100%;
    margin-top: 50px;
}

.list-group-item{
    border: 0 !important;
}

.cartScreen__stock{
    padding: 10px;
    border: 0;
}

.cartScreen__stock:active{
    padding: 10px;
    border: 0;
}