.login__content{
    margin-left: auto;
    margin-right: auto;
}


.form-group{
    padding: 10px !important;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.form-label{
    width: max-content !important;
    margin-right:auto !important;
    font-size: 20px;
}

.login__button{
    width: max-content;
    margin-left: 30% !important ;
    /* margin-right: auto !important; */
}